<div class="launch-card">
  <!-- launch avatar -->
  <figure class="launch-card__avatar">
    <img [alt]="name" [src]="avatarUrl">
  </figure>
  <!-- launch name -->
  <p class="launch-card__name">{{name}}</p>
  <!-- additional details -->
  <launch-card-item-detail label="Mission Ids" [value]="missionIds"></launch-card-item-detail>
  <launch-card-item-detail label="Launch Year" [value]="toString(launchYear)"></launch-card-item-detail>
  <launch-card-item-detail label="Successful Launch" [value]="toString(launchSuccess)"></launch-card-item-detail>
  <launch-card-item-detail label="Successful Landing" [value]="toString(landSuccess)"></launch-card-item-detail>
</div>
