.launches {
  display: flex;
  flex-wrap: wrap;

  &__filter {
    flex: 100%;
    flex-shrink: 0;
  }

  &__list {
    flex: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  @media only screen and (min-width: 700px) {
    &__filter {
      flex: 25%;
    }

    &__list {
      flex: 75%;
    }
  }
}
